// React burger menu overrides
.bm-burger-button {
  background: #ccc; // TODO
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 999 !important;

  button {
    height: 30px !important;
    left: 20px !important;
    top: 10px !important;
    width: 30px !important;
  }

  .bm-icon {
    height: 30px !important;
    left: 20px;
    position: absolute;
    top: 10px;
    width: 30px !important;
  }
}

.bm-item-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bm-cross-button {
  text-align: right;

  svg {
    fill: rgba($white, 0.4);
    height: 14px;
    width: 14px;
  }
}

@include md {
  .bm-cross-button,
  .bm-burger-button {
    display: none;
  }
}
