@import 'base';

%htag {
  @include font-work;
  line-height: 1.1;
  padding: 0;
  text-rendering: optimizeLegibility;
  color: rgba($black, 0.75);
  margin-bottom: 0.725rem;
}

html {
  font: 125%/1.45 'Quattrocento Sans', serif;
  line-height: 1.6;
  overflow-y: auto;
}

body {
  color: rgba($black, 0.8);
  font-family: 'Quattrocento Sans', serif;
  font-weight: 400;
  margin: 0;
  word-wrap: break-word;
}

a {
  color: $secondary;
  text-decoration: none;
  transition: color 0.25s linear;

  &:active {
    outline-width: 0;
  }

  &:hover {
    outline-width: 0;
    color: $primary;
  }
}

abbr[title] {
  border-bottom: 1px dotted rgba($black, 0.5);
  cursor: help;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  @extend %htag;
}

img {
  border-style: none;
  display: inline-block;
  margin: 0 0 1.45rem;
  max-width: 100%;
  padding: 0;
}

code {
  font-family: monospace;
  font-size: 1em;
  font-size: 0.85rem;
  line-height: 1.45rem;
}

pre {
  font-family: monospace;
  font-size: 1em;
  font-size: 0.85rem;
  line-height: 1.45rem;
  margin: 0 0 1.45rem;
  padding: 0;
}

hr {
  background: rgba($black, 0.2);
  border: none;
  box-sizing: content-box;
  height: 1px;
  margin: 0 0 calc(1.45rem-1px);
  overflow: visible;
  padding: 0;
}

button {
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
  transition: background-color 0.25s linear;

  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
}

h2 {
  font-size: 1.51572rem;
  @extend %htag;
}

h3 {
  font-size: 1.31951rem;
  @extend %htag;
}

h4 {
  font-size: 1rem;
  @extend %htag;
}

h5 {
  font-size: 0.87055rem;
  @extend %htag;
}

h6 {
  font-size: 0.81225rem;
  @extend %htag;
}

p {
  color: rgba($black, 0.7);
  margin: 0 0 1.45rem;
  padding: 0;
}

blockquote {
  border-left: 0.54375rem solid $secondary;
  color: rgba($black, 0.65);
  font-size: 1.1487rem;
  font-style: italic;
  line-height: 1.45rem;
  margin: 0 0 1.45rem;
  padding: 0 0 0 0.90625rem;

  &:last-child {
    margin-bottom: 0;
  }

  cite {
    color: rgba($black, 0.8);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.45rem;
    &:before {
      content: '— ';
    }
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

ul {
  list-style-image: none;
  list-style-position: outside;
  margin: 0 0 1.45rem 1.45rem;
  padding: 0;

  li {
    padding-left: 0;
  }
}

ol {
  list-style-image: none;
  list-style-position: outside;
  margin: 0 0 1.45rem 1.45rem;
  padding: 0;

  li {
    padding-left: 0;
  }
}

dl {
  margin: 0 0 1.45rem;
  padding: 0;
}

dd {
  margin: 0 0 1.45rem;
  padding: 0;
}

@media (max-width: 480px) {
  html {
    font-size: 106.25%;
    line-height: 1.45;
  }

  blockquote {
    border-left: 0.27187rem solid $secondary;
    color: rgba($black, 0.6);
    font-style: italic;
    margin-left: -1.0875rem;
    margin-right: 0;
    padding-left: 0.81563rem;
  }
}
