// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin link($normal, $hover) {
  a {
    color: $normal;

    &:hover {
      color: $hover;
    }
  }
}

@mixin line-break {
  span:first-of-type:after {
    content: '\A';
    white-space: pre;
  }
}

@mixin sb-padding($top) {
  padding: #{$top}px $sb-padding-right-md 15px;

  @include lg {
    padding-right: $sb-padding-right-lg;
  }
}

@mixin icon($size: 18px, $color: $black) {
  margin-left: 10px;

  &:hover {
    svg {
      fill: rgba($color, 0.9);
    }
  }

  svg {
    fill: rgba($color, 0.6);
    height: $size;
    transition: fill 0.5s linear;
    width: $size;
  }
}

@mixin font-work {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}

@mixin font-quattro {
  font-family: 'Quattrocento Sans', serif;
  font-weight: 400;
}
