// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin link($normal, $hover) {
  a {
    color: $normal;

    &:hover {
      color: $hover;
    }
  }
}

@mixin reset-sidebar($transform: '', $transition: '', $width: '') {
  @if $transform != '' {
    transform: $transform !important;
  }
  @if $transition != '' {
    transition: $transition !important;
  }
  @if $width != '' {
    width: $width !important;
  }
}

@mixin menu-shadow($dir, $pos) {
  background: linear-gradient(
    to $dir,
    rgba($black, 0.25) 0%,
    rgba($black, 0) 50%
  );
  content: '';
  height: 100%;
  position: absolute;
  right: $pos;
  top: 0;
  width: 30px;
}

@mixin line-break {
  span:first-of-type:after {
    content: '\A';
    white-space: pre;
  }
}

@mixin sb-padding($top) {
  padding: #{$top}px $sb-padding-right-md 15px;

  @include lg {
    padding-right: $sb-padding-right-lg;
  }
}
