@import 'print';
@import url('//fonts.googleapis.com/css?family=Work+Sans:600|Quattrocento+Sans:400,400i,700');

html {
  font: 125%/1.45 'Quattrocento Sans', serif;
  box-sizing: border-box;
  overflow-y: scroll;
  line-height: 1.6;
}

body {
  font-family: 'Quattrocento Sans', serif;
  font-weight: 400;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  margin-bottom: 0.725rem;
  color: black;
}

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  color: black;
}

ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}

hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 20px;
  background: #999;
  border: none;
  height: 1px;
}

@include print;
