@mixin print {
  @page {
    size: A4 portrait;
    margin: 1.2cm 1cm;
  }

  html,
  body,
  #root,
  .main {
    overflow: visible !important;
    height: auto !important;
    margin: 0;
  }

  html {
    font-size: 11px;
    line-height: 1.3;
  }

  a {
    color: black;
  }

  h2 {
    margin: 15px 0 10px;
  }

  ul {
    &:first-of-type {
      list-style: none;
      margin: 0 0 30px;

      li {
        margin-bottom: 2px;
      }
    }

    &:nth-of-type(2),
    &:nth-of-type(3) {
      columns: 2;
      column-gap: 2cm;
    }

    &:nth-of-type(4),
    &:nth-of-type(5) {
      list-style: none;
      margin: 0;

      li {
        display: inline;

        p {
          display: inline;
          margin-right: 5px;
        }
      }
    }

    ul:first-of-type {
      list-style: circle;
      margin-left: 1.45rem;
      margin-bottom: calc(1.45rem / 2);
      margin-top: calc(1.45rem / 2);
    }
  }

  #contact,
  .open-menu,
  .sidebar {
    display: none !important;
  }

  [role='navigation'],
  .main {
    left: 0 !important;
    position: static !important;
    padding: 0;

    > div {
      max-width: 100%;
    }
  }

  .resume h1 {
    display: none;
  }
}
