// colors
$white: #fff;
$black: #000;
$green1: #273c43;
$green2: #183843;

// typography
$sb-font-size: 16px;

// screen-sizes
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

// sidebar
$dev-bg: url('../assets/images/sidebar-background.png');
$sb-md: 280px;
$sb-lg: 450px;
