// colors
$primary: #cccc00;
$secondary: #88cc00;
$black: #000000;
$white: #ffffff;
$red: #cc4444;

// screen-sizes
$screen-md-min: 768px;
$screen-lg-min: 992px;

// sidebar
$dev-bg: url('../assets/images/sidebar-background.png');
$sb-font-size: 16px;
$sb-md: 280px;
$sb-lg: 400px;
$sb-padding-right-md: 30px;
$sb-padding-right-lg: 50px;

// languages
$languages-font-size: 14px;
$languages-bar-height: 20px;
