@import 'base';

#resume.no-print {
  header {
    align-items: center;
    display: flex;
  }

  .icon {
    @include icon(28px);
  }

  h2 {
    color: rgba($black, 0.6);
  }

  h3 {
    color: $secondary;
    font-size: 20px;
    margin: 0;

    em {
      @include font-quattro;
      color: rgba($black, 0.4);
      font-size: 16px;
    }
  }

  h4 {
    font-size: 18px;
    color: rgba($black, 0.6);
    margin-bottom: 5px;
  }

  ul {
    li {
      margin: 0;
    }

    > li > p {
      color: rgba($black, 0.4);
      font-size: 16px;
    }

    ul {
      > li {
        margin-bottom: 0;
        font-size: 18px;

        p {
          color: rgba($black, 0.6);
          margin-bottom: 0;
        }
      }
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

    span {
      @include font-quattro;
      background: lighten($black, 95%);
      color: rgba($black, 0.4);
      font-size: 14px;
      margin: 0 5px 5px 0;
      padding: 3px 5px 1px;
    }
  }
}
