.resume {
  h3 {
    margin-top: 30px;
  }

  p {
    font-size: 18px;
  }

  .resume-list {
    ul {
      margin-top: 15px;
    }

    h4 {
      margin-top: 30px;
      em {
        font-family: 'Quattrocento Sans', serif;
        font-size: 18px;
        color: lighten($black, 60%);
      }
    }

    h5 {
      color: darken($primary, 10%);
      margin-bottom: 5px;

      em {
        font-family: 'Quattrocento Sans', serif;
        font-size: 16px;
        color: lighten($black, 60%);
      }
    }

    li,
    ul p {
      font-size: 16px;
      line-height: 1.4;
      margin-bottom: 5px;
    }
  }

  small {
    font-size: 14px;
    display: block;
    color: rgba($black, 0.6);
  }
}
