html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

html,
body,
#__next,
#container {
  height: 100%;
}

body {
  margin: 0;
}

main {
  height: 100%;
  padding: 80px 30px 30px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  main {
    padding: 30px 100px 50px 50px;
    transform: translateX(450px) !important;
    transition: unset !important;
    width: calc(100% - 450px) !important;
    max-width: 830px;
  }
}

a {
  transition: color 0.25s linear;
}
