#page-wrap {
  height: 100%;
  padding: 80px 30px 30px;
  width: 100%;
}

a {
  transition: color 0.25s linear;
}

@media screen and (min-width: 480px) {
  #page-wrap {
    padding: 30px;
    transform: translateX(350px) !important;
    transition: unset !important;
    width: calc(100% - 350px) !important;
    max-width: 830px;
  }
}

@media screen and (min-width: 900px) {
  #page-wrap {
    padding: 30px 100px 50px 50px;
    transform: translateX(450px) !important;
    width: calc(100% - 450px) !important;
  }
}
