@import 'base';

.photo {
  img {
    display: block;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    span {
      background: lighten($black, 90%);
      color: rgba($black, 0.4);
      font-size: 14px;
      margin: 0 5px 5px 0;
      padding: 3px 5px 1px;
    }
  }
}

.modal {
  align-items: center;
  background: rgba($black, 0.8);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.2s ease-in;
  z-index: 1;

  &.entered {
    opacity: 1;
  }

  .modal-content {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
  }

  .tags {
    span {
      background: lighten($black, 15%);
      color: rgba($white, 0.4);
    }
  }
}
