@import 'base';

.modal {
  align-items: center;
  background: rgba($black, 0.8);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 30px;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.2s ease-in;
  z-index: 1;

  &.entered {
    opacity: 1;
  }

  .picture {
    max-height: 100%;
    max-width: 70%;

    img {
      display: block;
      margin: 0;
      max-height: 100%;
      max-width: 100%;
    }
  }

  .map {
    background: red;
    flex: 1;
    max-width: 30%;
  }

  .photo-content {
    align-items: center;
    display: flex;
    overflow: hidden;
    width: 100%;
  }
}
