@import 'base';

#photos {
  padding-left: 5px;
  padding-right: 5px;

  @include md {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.photo-list {
  display: flex;
  flex-wrap: wrap;

  .picture {
    background: lighten($black, 90%);
    display: block;
    flex-basis: calc(50% - 10px);
    margin: 5px;
    outline: 0;
    position: relative;

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    .spinner,
    img {
      height: 100%;
      left: 0;
      margin: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  @include lg {
    .picture {
      flex-basis: calc(33.333% - 10px);
    }
  }
}
