#footer {
  @include sb-padding(10);
  margin-top: 20px;
  text-align: right;

  .social {
    margin-left: 10px;

    &:hover {
      svg {
        fill: rgba($black, 0.9);
      }
    }

    svg {
      fill: rgba($black, 0.6);
      height: 18px;
      transition: fill 0.5s linear;
      width: 18px;
    }
  }

  .copyright {
    margin-top: 10px;
  }
}
