#footer {
  text-align: right;
  padding: 10px 50px 30px;
  margin-top: 20px;

  .social {
    margin-left: 10px;

    &:hover {
      svg {
        fill: rgba(255, 255, 255, 0.9);
      }
    }

    svg {
      width: 18px;
      height: 18px;
      transition: fill 0.5s linear;
      fill: rgba(255, 255, 255, 0.6);
    }
  }

  .copyright {
    margin-top: 10px;
  }
}
