.info {
  @include sb-padding(40);
  align-items: end;
  display: flex;
  flex-direction: column;
  text-align: right;

  .avatar {
    border-radius: 50% 5px 5px 50%;
    height: 100px;
    margin-bottom: 0;
    width: 100px;
  }

  .name {
    @include line-break;
    color: rgba($white, 0.8);
    font-size: 18px;
    margin: 10px 0 5px;
  }

  .about {
    @include line-break;
    color: rgba($white, 0.5);
    line-height: initial;
  }
}
