.language {
  position: relative;
  width: 100%;
  padding: 5px 0;

  .label {
    color: #abb7bb;
    position: absolute;
    line-height: 42px;
    padding-left: 10px;
    top: 0;
  }

  .bar {
    height: 30px;
    border-radius: 0 5px 5px 0;
  }
}
