#stats {
  display: flex;
  overflow: hidden;

  .languages {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 165px;
    justify-content: center;
    padding: 10px 0 5px;
    position: relative;
  }

  .no-languages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  .stats-label {
    border-left: 1px solid rgba($white, 0.6);
    font-size: 12px;
    text-transform: uppercase;
    width: $sb-padding-right-md;

    @include lg {
      font-size: 14px;
      width: $sb-padding-right-lg;
    }

    span {
      display: block;
      height: $sb-padding-right-md;
      line-height: $sb-padding-right-md;
      text-align: center;
      transform-origin: top left;
      transform: rotate(90deg) translate(0, -100%);
      white-space: nowrap;
      width: 165px;

      @include lg {
        height: $sb-padding-right-lg;
        line-height: $sb-padding-right-lg;
      }
    }
  }
}

.language {
  display: flex;
  justify-content: end;
  padding: 2px 0;
  position: relative;
  width: 100%;

  .label {
    cursor: help;
    font-size: $languages-font-size;
    line-height: $languages-bar-height;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 3px;
    z-index: 1200;
  }

  .bar {
    border-radius: 5px 0 0 5px;
    height: $languages-bar-height;
  }
}

.ToolTipPortal {
  > div {
    z-index: 2000 !important;
  }
}
