.animated-bar {
  transition: width 1000ms ease-in;
  height: 40px;
  margin-bottom: 5px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:after {
    content: attr(data-lang);
    position: absolute;
    line-height: 40px;
    padding: 0 5px;
  }
}

.fade-enter {
  opacity: 0.01;

  &.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }
}

.fade-exit {
  opacity: 1;

  &.fade-exit-active {
    opacity: 0.01;
    transition: opacity 800ms ease-in;
  }
}
