.photo-list {
  > div {
    background: lighten($black, 90%);
  }

  @include md {
    display: flex;
    flex-wrap: wrap;

    > div {
      flex-basis: calc(50% - 10px);
      margin: 5px;
      position: relative;

      &:before {
        content: '';
        display: block;
        padding-top: 100%;
      }

      .spinner,
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }
  }

  @include lg {
    > div {
      flex-basis: calc(33.333% - 10px);
    }
  }
}
