@import 'burger-menu';

#sidebar {
  background-image: $dev-bg,
    linear-gradient(45deg, lighten($primary, 5%) 10%, $primary 100%);
  color: rgba($black, 0.6);
  font-size: $sb-font-size;
  height: 100%;
  border-right: 5px solid darken($primary, 5%);

  @include md {
    @include reset-sidebar(unset, unset);
  }

  @include lg {
    width: $sb-lg !important;
  }

  .sidebar-top {
    @include link(rgba($black, 0.8), rgba($black, 0.4));
  }
}
