.sidebar {
  background-image: $dev-bg,
    linear-gradient(45deg, lighten($primary, 5%) 10%, $primary 100%);
  color: rgba($black, 0.6);
  font-size: $sb-font-size;
  border-right: 5px solid darken($primary, 5%);
  width: $sb-md;

  @include lg {
    width: $sb-lg;
  }

  .sidebar-top {
    @include link(rgba($black, 0.8), rgba($black, 0.4));
  }
}
