@import 'burger-menu';

#sidebar {
  background-image: $dev-bg, linear-gradient(45deg, $green1 10%, $green2 100%);
  color: rgba($white, 0.4);
  font-size: $sb-font-size;
  height: 100%;

  @include md {
    @include reset-sidebar(unset, unset);
  }

  @include lg {
    width: 450px !important;
  }

  &:after {
    .menu-open & {
      @include menu-shadow(right, -30px);

      @include md {
        @include menu-shadow(left, 0);
      }
    }

    @include md {
      @include menu-shadow(left, 0);
    }
  }

  .sidebar-top {
    @include link(rgba($white, 0.4), rgba($white, 0.9));
  }
}
