.sidebarjs--is-visible {
  [sidebarjs-backdrop] {
    &:before {
      @include font-work;
      content: '\d7';
      color: rgba($white, 0.3);
      font-size: 30px;
      position: absolute;
      right: 6px;
      top: 0;
    }
  }
}

.sidebar {
  display: none;
  flex-direction: column;
  font-size: $sb-font-size;
  height: 100%;
  overflow-y: auto;
  justify-content: space-between;

  .sidebarjs--left & {
    display: flex;
  }

  @include md {
    display: flex;
  }

  &.dev {
    background-image: $dev-bg,
      linear-gradient(45deg, lighten($primary, 5%) 10%, $primary 100%);
    border-right: 5px solid darken($primary, 5%);
    color: rgba($black, 0.6);
  }

  &.photos {
    background-image: $photos-bg;
    background-position: top;
    background-size: cover;
    border-right: 5px solid lighten($black, 30%);
    color: rgba($white, 0.8);

    .name {
      color: rgba($white, 0.9);
    }

    .social {
      @include icon(18px, $white);
    }
    .sidebar-top {
      @include link(rgba($white, 0.8), rgba($white, 0.7));
    }
  }

  .sidebar-top {
    @include link(rgba($black, 0.8), rgba($black, 0.4));
  }

  @include md {
    width: $sb-md;
    position: fixed;
  }

  @include lg {
    width: $sb-lg;
  }
}

.menu {
  @include sb-padding(20);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  text-transform: uppercase;

  @include md {
    font-size: 18px;
  }
}

.ps__rail-y {
  margin-right: -5px;
}

.info {
  @include sb-padding(15);
  text-align: right;

  @include lg {
    padding-top: 40px;
  }

  .avatar {
    border-radius: 50% 5px 5px 50%;
    height: 60px;
    margin-bottom: 0;
    width: 60px;

    @include lg {
      height: 100px;
      width: 100px;
    }
  }

  .name {
    @include line-break;
    color: rgba($black, 0.8);
    font-size: 16px;
    margin: 5px 0;

    @include lg {
      font-size: 18px;
    }
  }

  .about {
    @include line-break;
    font-size: 14px;
    line-height: initial;

    @include lg {
      font-size: 14px;
    }
  }
}
